ul.list-group {
    margin-bottom: 1rem;
    }
    .card {
    margin-bottom: 1rem;
    }
  .tx-simpleblog {
    background-color: #eeeeee;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem;
        }
   .tx-simpleblog-footer {
    margin-top: 0.8rem;
        }
    ul.typo3-messages {
      list-style: none;
      padding: 0;
      }          
      .tx-simpleblog ul#comment-list {
        margin-top: 1rem;
        }